/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icons-lemon-2 {
  background-image: url(../images/sprite-foods.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icons-lemon:hover {
  background-image: url(../images/sprite-foods.png);
  background-position: -74px 0px;
  width: 64px;
  height: 64px;
}
.icons-lemon {
  background-image: url(../images/sprite-foods.png);
  background-position: 0px -74px;
  width: 64px;
  height: 64px;
}
.icons-lollipop {
  background-image: url(../images/sprite-foods.png);
  background-position: -74px -74px;
  width: 64px;
  height: 64px;
}
.icons-pomegranete {
  background-image: url(../images/sprite-foods.png);
  background-position: -148px 0px;
  width: 64px;
  height: 64px;
}
.icons-popcorn {
  background-image: url(../images/sprite-foods.png);
  background-position: -148px -74px;
  width: 64px;
  height: 64px;
}
.icons-pumpkin {
  background-image: url(../images/sprite-foods.png);
  background-position: 0px -148px;
  width: 64px;
  height: 64px;
}
.icons-watermelon {
  background-image: url(../images/sprite-foods.png);
  background-position: -74px -148px;
  width: 64px;
  height: 64px;
}
