@charset "UTF-8";
@import "sprites";

@mixin icons-sprites($sprites) {
    @each $sprite in $sprites {
        $sprite-name: nth($sprite, 10);
        .icons-#{$sprite-name} {
            @include sprite($sprite);
        }
    }
}

@mixin icons-retina-sprites($retina-groups) {
    @each $retina-group in $retina-groups {
        $sprite-name: nth($retina-group, 1);
        .icons-#{$sprite-name} {
            @include retina-sprite($retina-group);
        }
    }
}

[class^="icons-"],
[class*=" icons-"] {
    display: inline-block;
}

@include icons-sprites($spritesheet-sprites);
@include icons-retina-sprites($retina-groups);
// @include sprites($spritesheet-sprites);
// @include retina-sprites($retina-groups);
