@charset "UTF-8";
@import "icons-sprites";
@import "foods-sprites";

[class^="icons-"],
[class*=" icons-"] {
    display: inline-block;
}

@mixin icons-sprites($sprites) {
    @each $sprite in $sprites {
        $sprite-name: nth($sprite, 10);
        .icons-#{$sprite-name} {
            @include sprite($sprite);
        }
    }
}

@mixin icons-retina-sprites($retina-groups) {
    @each $retina-group in $retina-groups {
        $sprite-name: nth($retina-group, 1);
        .icons-#{$sprite-name} {
            @include retina-sprite($retina-group);
        }
    }
}

@mixin foods-sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .foods-#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}


@include foods-sprites($foods-sprites);
@include icons-sprites($spritesheet-sprites);
@include icons-retina-sprites($retina-groups);
// @include sprites($spritesheet-sprites);
// @include retina-sprites($retina-groups);
