@charset "UTF-8";

/* 按钮*/

.ui {
    @at-root {
        //在这里编写
        #{&}-btn {
            display: inline-block;
            padding: 0 12px;
            line-height: 28px;
            border-radius: 3px;
            background-color: #e6e6e6;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
        }
    }
}


/* 按钮颜色 */

.btn {
    @at-root {
        #{&}-blue {
            @include btn-bg-color(#0078e7);
        }
        
    }
}
