@charset "UTF-8";
a {
    @include link-color(#333, #666, #999);
}


/* 文本溢出隐藏 */

.text-overflow {
    @include ellipsis();
}


/* 清除浮动 */

.clearfix {
    @include pie-clearfix();
}
.test-gulp-demo{
	border: 1px solid red;
	background-color:green;
	font-size: 40px;
}