.icon-beer,
.icon-berry,
.icon-bone,
.icon-bowl,
.icon-burger,
.icon-cone-icecream,
.icon-doughnut,
.icon-drinks,
.icon-egg-poach,
.icon-hotdog,
.icon-juice,
.icon-lemon,
.icon-lemon-2,
.icon-lollipop,
.icon-pomegranete,
.icon-popcorn,
.icon-pumpkin,
.icon-watermelon,
[class*=' icon-'],
[class^=icon-]
{
    width: 120px;height: 120px;
}[class*=' icon-'],
[class^=icon-]
{
    display: inline-block;
}.icon-beer,
.icon-berry,
.icon-bone,
.icon-bowl,
.icon-burger,
.icon-cone-icecream,
.icon-doughnut,
.icon-drinks,
.icon-egg-poach,
.icon-hotdog,
.icon-juice,
.icon-lemon,
.icon-lemon-2,
.icon-lollipop,
.icon-pomegranete,
.icon-popcorn,
.icon-pumpkin,
.icon-watermelon
{
    background-image: url(../images/food-icons/120/normal-s74f9cc57e9.png);background-repeat: no-repeat;
}.icon-beer
{
    background-position: 0 0;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-beer,
    .icon-berry
    {
        width: 120px;height: 120px;
    }.icon-beer,
    .icon-berry,
    .icon-bone,
    .icon-bowl,
    .icon-burger,
    .icon-cone-icecream,
    .icon-doughnut,
    .icon-drinks,
    .icon-egg-poach,
    .icon-hotdog,
    .icon-juice,
    .icon-lemon,
    .icon-lemon-2,
    .icon-lollipop,
    .icon-pomegranete,
    .icon-popcorn,
    .icon-pumpkin,
    .icon-watermelon
    {
        background-image: url(../images/food-icons/120/retina-s262c24fa13.png);background-repeat: no-repeat;background-size: 120px auto;
    }.icon-beer
    {
        background-position: 0 0;
    }.icon-berry
    {
        background-position: 0 -120px;
    }
}.icon-berry
{
    background-position: 0 -120px;
}.icon-bone
{
    background-position: 0 -240px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-bone,
    .icon-bowl
    {
        width: 120px;height: 120px;
    }.icon-bone
    {
        background-position: 0 -240px;
    }.icon-bowl
    {
        background-position: 0 -360px;
    }
}.icon-bowl
{
    background-position: 0 -360px;
}.icon-burger
{
    background-position: 0 -480px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-burger
    {
        width: 120px;height: 120px;background-position: 0 -480px;
    }.icon-cone-icecream
    {
        width: 120px;height: 120px;background-position: 0 -600px;
    }
}.icon-cone-icecream
{
    background-position: 0 -600px;
}.icon-doughnut
{
    background-position: 0 -720px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-doughnut
    {
        width: 120px;height: 120px;background-position: 0 -720px;
    }.icon-drinks
    {
        width: 120px;height: 120px;background-position: 0 -840px;
    }
}.icon-drinks
{
    background-position: 0 -840px;
}.icon-egg-poach
{
    background-position: 0 -960px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-egg-poach
    {
        width: 120px;height: 120px;background-position: 0 -960px;
    }.icon-hotdog
    {
        width: 120px;height: 120px;background-position: 0 -1080px;
    }
}.icon-hotdog
{
    background-position: 0 -1080px;
}.icon-juice
{
    background-position: 0 -1200px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-juice
    {
        width: 120px;height: 120px;background-position: 0 -1200px;
    }.icon-lemon-2
    {
        width: 120px;height: 120px;background-position: 0 -1320px;
    }
}.icon-lemon-2
{
    background-position: 0 -1320px;
}.icon-lemon
{
    background-position: 0 -1440px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-lemon
    {
        width: 120px;height: 120px;background-position: 0 -1440px;
    }.icon-lollipop
    {
        width: 120px;height: 120px;background-position: 0 -1560px;
    }
}.icon-lollipop
{
    background-position: 0 -1560px;
}.icon-pomegranete
{
    background-position: 0 -1680px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-pomegranete
    {
        width: 120px;height: 120px;background-position: 0 -1680px;
    }.icon-popcorn
    {
        width: 120px;height: 120px;background-position: 0 -1800px;
    }
}.icon-popcorn
{
    background-position: 0 -1800px;
}.icon-pumpkin
{
    background-position: 0 -1920px;
}@media (min--moz-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx)
{
    .icon-pumpkin
    {
        width: 120px;height: 120px;background-position: 0 -1920px;
    }.icon-watermelon
    {
        width: 120px;height: 120px;background-position: 0 -2040px;
    }
}.icon-watermelon
{
    background-position: 0 -2040px;
}
