@charset "UTF-8";

/* functions */

.fn {
    @at-root {
        #{&}-lt {
            float: left;
        }
        #{&}-rt {
            float: right;
        }
        #{&}-tac {
            text-align: center;
        }
        #{&}-tar {
            text-align: right;
        }
        #{&}-tal {
            text-align: left;
        }
        #{&}-db {
            display: black;
        }
        #{&}-dn {
            display: inline-block;
        }
        #{&}-psr {
            position: relative;
        }
        #{&}-psa {
            position: absolute;
        }
    }
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.pdr10 {
    padding-right: 10px;
}

.pdl10 {
    padding-left: 10px;
}

.pdt10 {
    padding-top: 10px;
}

.pdb10 {
    padding-bottom: 10px;
}

.pd10 {
    padding: 10px;
}
