/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-alarm-name: 'sprite-alarm';
$sprite-alarm-x: 32px;
$sprite-alarm-y: 0px;
$sprite-alarm-offset-x: -32px;
$sprite-alarm-offset-y: 0px;
$sprite-alarm-width: 32px;
$sprite-alarm-height: 32px;
$sprite-alarm-total-width: 224px;
$sprite-alarm-total-height: 192px;
$sprite-alarm-image: 'sprite.png';
$sprite-alarm: (32px, 0px, -32px, 0px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-alarm', );
$sprite-anchor-name: 'sprite-anchor';
$sprite-anchor-x: 0px;
$sprite-anchor-y: 128px;
$sprite-anchor-offset-x: 0px;
$sprite-anchor-offset-y: -128px;
$sprite-anchor-width: 32px;
$sprite-anchor-height: 32px;
$sprite-anchor-total-width: 224px;
$sprite-anchor-total-height: 192px;
$sprite-anchor-image: 'sprite.png';
$sprite-anchor: (0px, 128px, 0px, -128px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-anchor', );
$sprite-bag-name: 'sprite-bag';
$sprite-bag-x: 0px;
$sprite-bag-y: 32px;
$sprite-bag-offset-x: 0px;
$sprite-bag-offset-y: -32px;
$sprite-bag-width: 32px;
$sprite-bag-height: 32px;
$sprite-bag-total-width: 224px;
$sprite-bag-total-height: 192px;
$sprite-bag-image: 'sprite.png';
$sprite-bag: (0px, 32px, 0px, -32px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-bag', );
$sprite-broom-name: 'sprite-broom';
$sprite-broom-x: 32px;
$sprite-broom-y: 32px;
$sprite-broom-offset-x: -32px;
$sprite-broom-offset-y: -32px;
$sprite-broom-width: 32px;
$sprite-broom-height: 32px;
$sprite-broom-total-width: 224px;
$sprite-broom-total-height: 192px;
$sprite-broom-image: 'sprite.png';
$sprite-broom: (32px, 32px, -32px, -32px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-broom', );
$sprite-calc-name: 'sprite-calc';
$sprite-calc-x: 64px;
$sprite-calc-y: 0px;
$sprite-calc-offset-x: -64px;
$sprite-calc-offset-y: 0px;
$sprite-calc-width: 32px;
$sprite-calc-height: 32px;
$sprite-calc-total-width: 224px;
$sprite-calc-total-height: 192px;
$sprite-calc-image: 'sprite.png';
$sprite-calc: (64px, 0px, -64px, 0px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-calc', );
$sprite-comic-book-name: 'sprite-comic-book';
$sprite-comic-book-x: 64px;
$sprite-comic-book-y: 32px;
$sprite-comic-book-offset-x: -64px;
$sprite-comic-book-offset-y: -32px;
$sprite-comic-book-width: 32px;
$sprite-comic-book-height: 32px;
$sprite-comic-book-total-width: 224px;
$sprite-comic-book-total-height: 192px;
$sprite-comic-book-image: 'sprite.png';
$sprite-comic-book: (64px, 32px, -64px, -32px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-comic-book', );
$sprite-compass-name: 'sprite-compass';
$sprite-compass-x: 0px;
$sprite-compass-y: 64px;
$sprite-compass-offset-x: 0px;
$sprite-compass-offset-y: -64px;
$sprite-compass-width: 32px;
$sprite-compass-height: 32px;
$sprite-compass-total-width: 224px;
$sprite-compass-total-height: 192px;
$sprite-compass-image: 'sprite.png';
$sprite-compass: (0px, 64px, 0px, -64px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-compass', );
$sprite-disk-name: 'sprite-disk';
$sprite-disk-x: 32px;
$sprite-disk-y: 64px;
$sprite-disk-offset-x: -32px;
$sprite-disk-offset-y: -64px;
$sprite-disk-width: 32px;
$sprite-disk-height: 32px;
$sprite-disk-total-width: 224px;
$sprite-disk-total-height: 192px;
$sprite-disk-image: 'sprite.png';
$sprite-disk: (32px, 64px, -32px, -64px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-disk', );
$sprite-display-name: 'sprite-display';
$sprite-display-x: 64px;
$sprite-display-y: 64px;
$sprite-display-offset-x: -64px;
$sprite-display-offset-y: -64px;
$sprite-display-width: 32px;
$sprite-display-height: 32px;
$sprite-display-total-width: 224px;
$sprite-display-total-height: 192px;
$sprite-display-image: 'sprite.png';
$sprite-display: (64px, 64px, -64px, -64px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-display', );
$sprite-display2-name: 'sprite-display2';
$sprite-display2-x: 96px;
$sprite-display2-y: 0px;
$sprite-display2-offset-x: -96px;
$sprite-display2-offset-y: 0px;
$sprite-display2-width: 32px;
$sprite-display2-height: 32px;
$sprite-display2-total-width: 224px;
$sprite-display2-total-height: 192px;
$sprite-display2-image: 'sprite.png';
$sprite-display2: (96px, 0px, -96px, 0px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-display2', );
$sprite-download-name: 'sprite-download';
$sprite-download-x: 96px;
$sprite-download-y: 32px;
$sprite-download-offset-x: -96px;
$sprite-download-offset-y: -32px;
$sprite-download-width: 32px;
$sprite-download-height: 32px;
$sprite-download-total-width: 224px;
$sprite-download-total-height: 192px;
$sprite-download-image: 'sprite.png';
$sprite-download: (96px, 32px, -96px, -32px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-download', );
$sprite-envelope-name: 'sprite-envelope';
$sprite-envelope-x: 96px;
$sprite-envelope-y: 64px;
$sprite-envelope-offset-x: -96px;
$sprite-envelope-offset-y: -64px;
$sprite-envelope-width: 32px;
$sprite-envelope-height: 32px;
$sprite-envelope-total-width: 224px;
$sprite-envelope-total-height: 192px;
$sprite-envelope-image: 'sprite.png';
$sprite-envelope: (96px, 64px, -96px, -64px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-envelope', );
$sprite-finder-name: 'sprite-finder';
$sprite-finder-x: 0px;
$sprite-finder-y: 96px;
$sprite-finder-offset-x: 0px;
$sprite-finder-offset-y: -96px;
$sprite-finder-width: 32px;
$sprite-finder-height: 32px;
$sprite-finder-total-width: 224px;
$sprite-finder-total-height: 192px;
$sprite-finder-image: 'sprite.png';
$sprite-finder: (0px, 96px, 0px, -96px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-finder', );
$sprite-folder-open-name: 'sprite-folder-open';
$sprite-folder-open-x: 32px;
$sprite-folder-open-y: 96px;
$sprite-folder-open-offset-x: -32px;
$sprite-folder-open-offset-y: -96px;
$sprite-folder-open-width: 32px;
$sprite-folder-open-height: 32px;
$sprite-folder-open-total-width: 224px;
$sprite-folder-open-total-height: 192px;
$sprite-folder-open-image: 'sprite.png';
$sprite-folder-open: (32px, 96px, -32px, -96px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-folder-open', );
$sprite-folder-name: 'sprite-folder';
$sprite-folder-x: 64px;
$sprite-folder-y: 96px;
$sprite-folder-offset-x: -64px;
$sprite-folder-offset-y: -96px;
$sprite-folder-width: 32px;
$sprite-folder-height: 32px;
$sprite-folder-total-width: 224px;
$sprite-folder-total-height: 192px;
$sprite-folder-image: 'sprite.png';
$sprite-folder: (64px, 96px, -64px, -96px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-folder', );
$sprite-gift-name: 'sprite-gift';
$sprite-gift-x: 96px;
$sprite-gift-y: 96px;
$sprite-gift-offset-x: -96px;
$sprite-gift-offset-y: -96px;
$sprite-gift-width: 32px;
$sprite-gift-height: 32px;
$sprite-gift-total-width: 224px;
$sprite-gift-total-height: 192px;
$sprite-gift-image: 'sprite.png';
$sprite-gift: (96px, 96px, -96px, -96px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-gift', );
$sprite-hdd-name: 'sprite-hdd';
$sprite-hdd-x: 128px;
$sprite-hdd-y: 0px;
$sprite-hdd-offset-x: -128px;
$sprite-hdd-offset-y: 0px;
$sprite-hdd-width: 32px;
$sprite-hdd-height: 32px;
$sprite-hdd-total-width: 224px;
$sprite-hdd-total-height: 192px;
$sprite-hdd-image: 'sprite.png';
$sprite-hdd: (128px, 0px, -128px, 0px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-hdd', );
$sprite-headphone-name: 'sprite-headphone';
$sprite-headphone-x: 128px;
$sprite-headphone-y: 32px;
$sprite-headphone-offset-x: -128px;
$sprite-headphone-offset-y: -32px;
$sprite-headphone-width: 32px;
$sprite-headphone-height: 32px;
$sprite-headphone-total-width: 224px;
$sprite-headphone-total-height: 192px;
$sprite-headphone-image: 'sprite.png';
$sprite-headphone: (128px, 32px, -128px, -32px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-headphone', );
$sprite-home-name: 'sprite-home';
$sprite-home-x: 128px;
$sprite-home-y: 64px;
$sprite-home-offset-x: -128px;
$sprite-home-offset-y: -64px;
$sprite-home-width: 32px;
$sprite-home-height: 32px;
$sprite-home-total-width: 224px;
$sprite-home-total-height: 192px;
$sprite-home-image: 'sprite.png';
$sprite-home: (128px, 64px, -128px, -64px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-home', );
$sprite-lens-name: 'sprite-lens';
$sprite-lens-x: 128px;
$sprite-lens-y: 96px;
$sprite-lens-offset-x: -128px;
$sprite-lens-offset-y: -96px;
$sprite-lens-width: 32px;
$sprite-lens-height: 32px;
$sprite-lens-total-width: 224px;
$sprite-lens-total-height: 192px;
$sprite-lens-image: 'sprite.png';
$sprite-lens: (128px, 96px, -128px, -96px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-lens', );
$sprite-library-name: 'sprite-library';
$sprite-library-x: 0px;
$sprite-library-y: 0px;
$sprite-library-offset-x: 0px;
$sprite-library-offset-y: 0px;
$sprite-library-width: 32px;
$sprite-library-height: 32px;
$sprite-library-total-width: 224px;
$sprite-library-total-height: 192px;
$sprite-library-image: 'sprite.png';
$sprite-library: (0px, 0px, 0px, 0px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-library', );
$sprite-license-name: 'sprite-license';
$sprite-license-x: 32px;
$sprite-license-y: 128px;
$sprite-license-offset-x: -32px;
$sprite-license-offset-y: -128px;
$sprite-license-width: 32px;
$sprite-license-height: 32px;
$sprite-license-total-width: 224px;
$sprite-license-total-height: 192px;
$sprite-license-image: 'sprite.png';
$sprite-license: (32px, 128px, -32px, -128px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-license', );
$sprite-link-name: 'sprite-link';
$sprite-link-x: 64px;
$sprite-link-y: 128px;
$sprite-link-offset-x: -64px;
$sprite-link-offset-y: -128px;
$sprite-link-width: 32px;
$sprite-link-height: 32px;
$sprite-link-total-width: 224px;
$sprite-link-total-height: 192px;
$sprite-link-image: 'sprite.png';
$sprite-link: (64px, 128px, -64px, -128px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-link', );
$sprite-magnet-name: 'sprite-magnet';
$sprite-magnet-x: 96px;
$sprite-magnet-y: 128px;
$sprite-magnet-offset-x: -96px;
$sprite-magnet-offset-y: -128px;
$sprite-magnet-width: 32px;
$sprite-magnet-height: 32px;
$sprite-magnet-total-width: 224px;
$sprite-magnet-total-height: 192px;
$sprite-magnet-image: 'sprite.png';
$sprite-magnet: (96px, 128px, -96px, -128px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-magnet', );
$sprite-mail-name: 'sprite-mail';
$sprite-mail-x: 128px;
$sprite-mail-y: 128px;
$sprite-mail-offset-x: -128px;
$sprite-mail-offset-y: -128px;
$sprite-mail-width: 32px;
$sprite-mail-height: 32px;
$sprite-mail-total-width: 224px;
$sprite-mail-total-height: 192px;
$sprite-mail-image: 'sprite.png';
$sprite-mail: (128px, 128px, -128px, -128px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-mail', );
$sprite-map-name: 'sprite-map';
$sprite-map-x: 160px;
$sprite-map-y: 0px;
$sprite-map-offset-x: -160px;
$sprite-map-offset-y: 0px;
$sprite-map-width: 32px;
$sprite-map-height: 32px;
$sprite-map-total-width: 224px;
$sprite-map-total-height: 192px;
$sprite-map-image: 'sprite.png';
$sprite-map: (160px, 0px, -160px, 0px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-map', );
$sprite-medal-name: 'sprite-medal';
$sprite-medal-x: 160px;
$sprite-medal-y: 32px;
$sprite-medal-offset-x: -160px;
$sprite-medal-offset-y: -32px;
$sprite-medal-width: 32px;
$sprite-medal-height: 32px;
$sprite-medal-total-width: 224px;
$sprite-medal-total-height: 192px;
$sprite-medal-image: 'sprite.png';
$sprite-medal: (160px, 32px, -160px, -32px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-medal', );
$sprite-memory-name: 'sprite-memory';
$sprite-memory-x: 160px;
$sprite-memory-y: 64px;
$sprite-memory-offset-x: -160px;
$sprite-memory-offset-y: -64px;
$sprite-memory-width: 32px;
$sprite-memory-height: 32px;
$sprite-memory-total-width: 224px;
$sprite-memory-total-height: 192px;
$sprite-memory-image: 'sprite.png';
$sprite-memory: (160px, 64px, -160px, -64px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-memory', );
$sprite-mug-name: 'sprite-mug';
$sprite-mug-x: 160px;
$sprite-mug-y: 96px;
$sprite-mug-offset-x: -160px;
$sprite-mug-offset-y: -96px;
$sprite-mug-width: 32px;
$sprite-mug-height: 32px;
$sprite-mug-total-width: 224px;
$sprite-mug-total-height: 192px;
$sprite-mug-image: 'sprite.png';
$sprite-mug: (160px, 96px, -160px, -96px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-mug', );
$sprite-music-cd-name: 'sprite-music-cd';
$sprite-music-cd-x: 160px;
$sprite-music-cd-y: 128px;
$sprite-music-cd-offset-x: -160px;
$sprite-music-cd-offset-y: -128px;
$sprite-music-cd-width: 32px;
$sprite-music-cd-height: 32px;
$sprite-music-cd-total-width: 224px;
$sprite-music-cd-total-height: 192px;
$sprite-music-cd-image: 'sprite.png';
$sprite-music-cd: (160px, 128px, -160px, -128px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-music-cd', );
$sprite-newspaper-name: 'sprite-newspaper';
$sprite-newspaper-x: 0px;
$sprite-newspaper-y: 160px;
$sprite-newspaper-offset-x: 0px;
$sprite-newspaper-offset-y: -160px;
$sprite-newspaper-width: 32px;
$sprite-newspaper-height: 32px;
$sprite-newspaper-total-width: 224px;
$sprite-newspaper-total-height: 192px;
$sprite-newspaper-image: 'sprite.png';
$sprite-newspaper: (0px, 160px, 0px, -160px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-newspaper', );
$sprite-photos-name: 'sprite-photos';
$sprite-photos-x: 32px;
$sprite-photos-y: 160px;
$sprite-photos-offset-x: -32px;
$sprite-photos-offset-y: -160px;
$sprite-photos-width: 32px;
$sprite-photos-height: 32px;
$sprite-photos-total-width: 224px;
$sprite-photos-total-height: 192px;
$sprite-photos-image: 'sprite.png';
$sprite-photos: (32px, 160px, -32px, -160px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-photos', );
$sprite-processor-name: 'sprite-processor';
$sprite-processor-x: 64px;
$sprite-processor-y: 160px;
$sprite-processor-offset-x: -64px;
$sprite-processor-offset-y: -160px;
$sprite-processor-width: 32px;
$sprite-processor-height: 32px;
$sprite-processor-total-width: 224px;
$sprite-processor-total-height: 192px;
$sprite-processor-image: 'sprite.png';
$sprite-processor: (64px, 160px, -64px, -160px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-processor', );
$sprite-radio-name: 'sprite-radio';
$sprite-radio-x: 96px;
$sprite-radio-y: 160px;
$sprite-radio-offset-x: -96px;
$sprite-radio-offset-y: -160px;
$sprite-radio-width: 32px;
$sprite-radio-height: 32px;
$sprite-radio-total-width: 224px;
$sprite-radio-total-height: 192px;
$sprite-radio-image: 'sprite.png';
$sprite-radio: (96px, 160px, -96px, -160px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-radio', );
$sprite-shop-name: 'sprite-shop';
$sprite-shop-x: 128px;
$sprite-shop-y: 160px;
$sprite-shop-offset-x: -128px;
$sprite-shop-offset-y: -160px;
$sprite-shop-width: 32px;
$sprite-shop-height: 32px;
$sprite-shop-total-width: 224px;
$sprite-shop-total-height: 192px;
$sprite-shop-image: 'sprite.png';
$sprite-shop: (128px, 160px, -128px, -160px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-shop', );
$sprite-smartphone-name: 'sprite-smartphone';
$sprite-smartphone-x: 160px;
$sprite-smartphone-y: 160px;
$sprite-smartphone-offset-x: -160px;
$sprite-smartphone-offset-y: -160px;
$sprite-smartphone-width: 32px;
$sprite-smartphone-height: 32px;
$sprite-smartphone-total-width: 224px;
$sprite-smartphone-total-height: 192px;
$sprite-smartphone-image: 'sprite.png';
$sprite-smartphone: (160px, 160px, -160px, -160px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-smartphone', );
$sprite-sofa-name: 'sprite-sofa';
$sprite-sofa-x: 192px;
$sprite-sofa-y: 0px;
$sprite-sofa-offset-x: -192px;
$sprite-sofa-offset-y: 0px;
$sprite-sofa-width: 32px;
$sprite-sofa-height: 32px;
$sprite-sofa-total-width: 224px;
$sprite-sofa-total-height: 192px;
$sprite-sofa-image: 'sprite.png';
$sprite-sofa: (192px, 0px, -192px, 0px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-sofa', );
$sprite-target-name: 'sprite-target';
$sprite-target-x: 192px;
$sprite-target-y: 32px;
$sprite-target-offset-x: -192px;
$sprite-target-offset-y: -32px;
$sprite-target-width: 32px;
$sprite-target-height: 32px;
$sprite-target-total-width: 224px;
$sprite-target-total-height: 192px;
$sprite-target-image: 'sprite.png';
$sprite-target: (192px, 32px, -192px, -32px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-target', );
$sprite-under-construction-name: 'sprite-under-construction';
$sprite-under-construction-x: 192px;
$sprite-under-construction-y: 64px;
$sprite-under-construction-offset-x: -192px;
$sprite-under-construction-offset-y: -64px;
$sprite-under-construction-width: 32px;
$sprite-under-construction-height: 32px;
$sprite-under-construction-total-width: 224px;
$sprite-under-construction-total-height: 192px;
$sprite-under-construction-image: 'sprite.png';
$sprite-under-construction: (192px, 64px, -192px, -64px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-under-construction', );
$sprite-wallet-name: 'sprite-wallet';
$sprite-wallet-x: 192px;
$sprite-wallet-y: 96px;
$sprite-wallet-offset-x: -192px;
$sprite-wallet-offset-y: -96px;
$sprite-wallet-width: 32px;
$sprite-wallet-height: 32px;
$sprite-wallet-total-width: 224px;
$sprite-wallet-total-height: 192px;
$sprite-wallet-image: 'sprite.png';
$sprite-wallet: (192px, 96px, -192px, -96px, 32px, 32px, 224px, 192px, 'sprite.png', 'sprite-wallet', );
$spritesheet-width: 224px;
$spritesheet-height: 192px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($sprite-alarm, $sprite-anchor, $sprite-bag, $sprite-broom, $sprite-calc, $sprite-comic-book, $sprite-compass, $sprite-disk, $sprite-display, $sprite-display2, $sprite-download, $sprite-envelope, $sprite-finder, $sprite-folder-open, $sprite-folder, $sprite-gift, $sprite-hdd, $sprite-headphone, $sprite-home, $sprite-lens, $sprite-library, $sprite-license, $sprite-link, $sprite-magnet, $sprite-mail, $sprite-map, $sprite-medal, $sprite-memory, $sprite-mug, $sprite-music-cd, $sprite-newspaper, $sprite-photos, $sprite-processor, $sprite-radio, $sprite-shop, $sprite-smartphone, $sprite-sofa, $sprite-target, $sprite-under-construction, $sprite-wallet, );
$spritesheet: (224px, 192px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
