/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-alarm {
  background-image: url(sprite.png);
  background-position: 0px -52px;
  width: 32px;
  height: 32px;
}
.icon-anchor {
  background-image: url(sprite.png);
  background-position: 0px -1040px;
  width: 32px;
  height: 32px;
}
.icon-bag {
  background-image: url(sprite.png);
  background-position: 0px -104px;
  width: 32px;
  height: 32px;
}
.icon-broom {
  background-image: url(sprite.png);
  background-position: 0px -156px;
  width: 32px;
  height: 32px;
}
.icon-calc {
  background-image: url(sprite.png);
  background-position: 0px -208px;
  width: 32px;
  height: 32px;
}
.icon-comic-book {
  background-image: url(sprite.png);
  background-position: 0px -260px;
  width: 32px;
  height: 32px;
}
.icon-compass {
  background-image: url(sprite.png);
  background-position: 0px -312px;
  width: 32px;
  height: 32px;
}
.icon-disk {
  background-image: url(sprite.png);
  background-position: 0px -364px;
  width: 32px;
  height: 32px;
}
.icon-display {
  background-image: url(sprite.png);
  background-position: 0px -416px;
  width: 32px;
  height: 32px;
}
.icon-display2 {
  background-image: url(sprite.png);
  background-position: 0px -468px;
  width: 32px;
  height: 32px;
}
.icon-download {
  background-image: url(sprite.png);
  background-position: 0px -520px;
  width: 32px;
  height: 32px;
}
.icon-envelope {
  background-image: url(sprite.png);
  background-position: 0px -572px;
  width: 32px;
  height: 32px;
}
.icon-finder {
  background-image: url(sprite.png);
  background-position: 0px -624px;
  width: 32px;
  height: 32px;
}
.icon-folder-open {
  background-image: url(sprite.png);
  background-position: 0px -676px;
  width: 32px;
  height: 32px;
}
.icon-folder {
  background-image: url(sprite.png);
  background-position: 0px -728px;
  width: 32px;
  height: 32px;
}
.icon-gift {
  background-image: url(sprite.png);
  background-position: 0px -780px;
  width: 32px;
  height: 32px;
}
.icon-hdd {
  background-image: url(sprite.png);
  background-position: 0px -832px;
  width: 32px;
  height: 32px;
}
.icon-headphone {
  background-image: url(sprite.png);
  background-position: 0px -884px;
  width: 32px;
  height: 32px;
}
.icon-home {
  background-image: url(sprite.png);
  background-position: 0px -936px;
  width: 32px;
  height: 32px;
}
.icon-lens {
  background-image: url(sprite.png);
  background-position: 0px -988px;
  width: 32px;
  height: 32px;
}
.icon-library {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-license {
  background-image: url(sprite.png);
  background-position: 0px -1092px;
  width: 32px;
  height: 32px;
}
.icon-link {
  background-image: url(sprite.png);
  background-position: 0px -1144px;
  width: 32px;
  height: 32px;
}
.icon-magnet {
  background-image: url(sprite.png);
  background-position: 0px -1196px;
  width: 32px;
  height: 32px;
}
.icon-mail {
  background-image: url(sprite.png);
  background-position: 0px -1248px;
  width: 32px;
  height: 32px;
}
.icon-map {
  background-image: url(sprite.png);
  background-position: 0px -1300px;
  width: 32px;
  height: 32px;
}
.icon-medal {
  background-image: url(sprite.png);
  background-position: 0px -1352px;
  width: 32px;
  height: 32px;
}
.icon-memory {
  background-image: url(sprite.png);
  background-position: 0px -1404px;
  width: 32px;
  height: 32px;
}
.icon-mug {
  background-image: url(sprite.png);
  background-position: 0px -1456px;
  width: 32px;
  height: 32px;
}
.icon-music-cd {
  background-image: url(sprite.png);
  background-position: 0px -1508px;
  width: 32px;
  height: 32px;
}
.icon-newspaper {
  background-image: url(sprite.png);
  background-position: 0px -1560px;
  width: 32px;
  height: 32px;
}
.icon-photos {
  background-image: url(sprite.png);
  background-position: 0px -1612px;
  width: 32px;
  height: 32px;
}
.icon-processor {
  background-image: url(sprite.png);
  background-position: 0px -1664px;
  width: 32px;
  height: 32px;
}
.icon-radio {
  background-image: url(sprite.png);
  background-position: 0px -1716px;
  width: 32px;
  height: 32px;
}
.icon-shop {
  background-image: url(sprite.png);
  background-position: 0px -1768px;
  width: 32px;
  height: 32px;
}
.icon-smartphone {
  background-image: url(sprite.png);
  background-position: 0px -1820px;
  width: 32px;
  height: 32px;
}
.icon-sofa {
  background-image: url(sprite.png);
  background-position: 0px -1872px;
  width: 32px;
  height: 32px;
}
.icon-target {
  background-image: url(sprite.png);
  background-position: 0px -1924px;
  width: 32px;
  height: 32px;
}
.icon-under-construction {
  background-image: url(sprite.png);
  background-position: 0px -1976px;
  width: 32px;
  height: 32px;
}
.icon-wallet {
  background-image: url(sprite.png);
  background-position: 0px -2028px;
  width: 32px;
  height: 32px;
}
