@charset "utf-8";

@import "compass";
@import "mixins/retina-sprite-mixins";

//  Food Icons
$food-icon-normal: sprite-map("food-icons/120/normal/*.png");
$food-icon-retina: sprite-map("food-icons/120/retina/*.png");

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 120px;
  height: 120px;
}

$sprite-normal-list: sprite-names($food-icon-normal);
$sprite-retina-list: sprite-names($food-icon-retina);

%sprite-pub-style {
  background-repeat: no-repeat;
  background-image: sprite-url($food-icon-normal);

  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    background-image: $food-icon-retina;
    background-repeat: no-repeat;

    // treat the @2x retina sprite sheet as 50% wide for double resolution upon display
    $double-width: ceil(image-width(sprite-path($food-icon-retina)) / 2);
    $auto-height: auto;

    @include background-size($double-width $auto-height);
  }
}

// 循环输出retina精灵
@each $var in $sprite-normal-list {
  .icon {
    @at-root #{&}-#{$var} {
      @include retina-sprite-background($var, $food-icon-normal, $food-icon-retina);

      @extend %sprite-pub-style;
    }
  }
}