@charset "UTF-8";

@import "compass";

$icons: sprite-map("mall-icons/*.png", $spacing: 10px) !global;

@mixin scale-background($name, $retina: $icons) {
  // background-image: sprite-url($retina);
  background-position: 0 round(nth(sprite-position($retina, $name), 2) / 2);
  height: round(image-height(sprite-file($retina, $name)) / 2);
  width: round(image-width(sprite-file($retina, $name)) / 2);
}

[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
}

%sprite-pub-style {
  background-image: $icons;
  background-repeat: no-repeat;

  // treat the @2x retina sprite sheet as 50% wide for double resolution upon display
  $double-width: ceil(image-width(sprite-path($icons)) / 2);
  $auto-height: auto;

  @include background-size($double-width $auto-height);
}

$sprite-list: sprite-names($icons);

// 循环输出精灵列表的样式
@each $var in $sprite-list {
  .icons {
    @at-root #{&}-#{$var} {
      @extend %sprite-pub-style;

      @include scale-background($var);
    }
  }
}